<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Bienvenido da UTCBettigs</h3>
    
    <a href="{% url 'apuestas:index' %}">Ingresar</a>
    
    {% if request.user.is_authenticated == False %}
        <a href="{% url 'apuestas:guardar_usuario' %}">Crear usuario</a>
    {% endif %}
        
        
</body>
</html>